name: Testing and Coverage

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install Sphinx>3.1 matplotlib
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Build docs
        run: |
          python setup.py build_sphinx
      - name: Upload docs
        uses: actions/upload-artifact@v3
        with:
          name: documentation
          path: |
            build/sphinx/html
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
